In [35]:
pip install scraper

Requirement already satisfied: scraper in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.1.0)
Requirement already satisfied: lxml>=3.0.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from scraper) (4.5.1)
Note: you may need to restart the kernel to use updated packages.

In [36]:
!conda install -c conda-forge geopy --yes

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [37]:
import scraper
import lxml
import pandas as pd
from geopy.geocoders import Nominatim

In [38]:
url ='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

To scrape data from HTML tables into a list of DataFrame objects we use read_html .

In [39]:
dfs=pd.read_html(url)

In [40]:
toronto=dfs[0]

In [41]:
toronto

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

We keep only the cells that have an assigned Borough.

In [46]:
new_toronto = toronto[toronto.Borough != 'Not assigned']
#new_toronto = new_toronto.reset_index()
new_toronto.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Combining rows with the same Postal Code with the neighborhoods separated with a comma.

In [47]:
new_toronto = new_toronto.groupby('Postal Code').agg({'Borough':'first','Neighborhood': ', '.join}).reset_index()

In [48]:
new_toronto.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

Replace 'Not assigned' value in Neiborhood column with Borough value.

In [53]:
new_toronto.Neighborhood.replace('Not assigned',new_toronto.Borough,inplace=True)
new_toronto

,Postal Code,Borough,Neighborhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

Using .shape method to print the number of rows of the dataframe.

In [51]:
new_toronto.shape

(103, 3)

In [52]:
cor = pd.read_csv("https://cocl.us/Geospatial_data")

In [33]:
cor

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [58]:
cor.sort_values("Postal Code", inplace = True) 
cor.drop_duplicates(subset ="Postal Code", keep = False, inplace = True) 
cor

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [63]:
df_merge_col = pd.merge(new_toronto, cor, on='Postal Code')
df_merge_col

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054